{% extends 'base.html.twig' %}

{% block body %}
  <h3>{{ task.title}} </h3>
  <p class="text-muted">{{ task.user.name ~' '~ task.user.surname ~' - ' }}<span><i>{{ task.createdAt|date('l, d \\d\\e F \\d\\e Y') }}</i></span></p>
  <p class="mb-5">Prioridad: <span><strong>{{' ' ~ task.priority }}</strong></span></p>
  <p>{{ task.content }}</p>
{% endblock %}
